.breadcrumb {
  position: relative;

  &::after {
    @include pos-center-y;

    content: '';

    left: -1.6rem;

    display: block;

    height: 2.4rem;

    border: 0.01rem solid $gray60;
  }

  a:first-child {
    @include flexbox($gap: 0.2rem);
  }

  a:last-child {
    color: $gray10;
  }

  @include flexbox($gap: 0.4rem);
  @include text-style(14, $gray30);
}
