.breadcrumb {
  position: relative;

  &::after {
    @include pos-center-y;

    content: '';

    left: -1.6rem;

    display: block;

    width: 0.1rem;
    height: 100%;

    background-color: $gray70;
  }

  a:first-child {
    @include flexbox($gap: 0.2rem);
  }

  a:last-child {
    color: $gray10;
  }

  @include flexbox($gap: 0.4rem);
  @include text-style(14, $gray30);
}
