.task-card {
  @include column-flexbox($gap: 1.6rem);

  cursor: pointer;

  width: 100%;
  padding: 1.6rem;

  background-color: $gray60;
  border: 1px solid transparent;
  border-radius: 0.6rem;

  transition: $base-transition;

  &:hover {
    border: 1px solid $primary;
  }

  &-thumbnail {
    overflow: hidden;

    width: 100%;
    height: 16rem;

    background-color: $gray90;
    border-radius: 0.6rem;

    img {
      @include image-fit;
    }
  }

  &-content {
    width: 100%;
  }

  &-title-tags {
    margin-bottom: 1.6rem;

    .task-card-title {
      @include text-style(16, $gray10, bold);

      margin-bottom: 0.8rem;
    }
  }

  &-meta {
    @include flexbox(between);

    .task-card-date {
      @include flexbox($gap: 0.4rem);
      @include text-style(12, $gray30);
    }
  }
}
