.modal-detail {
  background-color: $gray90;

  .modal-header-title {
    @include flexbox(start, $gap: 0.8rem);
  }

  .content-detail-comment {
    @include flexbox(start, start, 3.2rem);

    width: 80rem;
    height: 32rem;

    @include responsive(T) {
      width: 68rem;
    }
  }

  .detail {
    @include column-flexbox(start, start);

    width: 50%;
    height: 100%;

    &-header {
      @include flexbox($gap: 1.6rem);

      width: 100%;
      margin-bottom: 1.6rem;
      padding: 1.2rem 0;

      background-color: $black;
      border-radius: 0.6rem;

      div {
        @include flexbox($gap: 0.6rem);

        span:first-child {
          @include text-style(12, $gray20);
        }

        span:last-child {
          @include text-style(12, $gray10);
        }
      }
    }

    &-tags-container {
      width: 100%;
      margin-bottom: 1.6rem;

      span {
        @include text-style(14, $gray10);

        display: block;
        margin-bottom: 0.8rem;
      }
    }

    &-description {
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0.6rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray40;
        border-radius: 1rem;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      p {
        @include text-style(14, $gray20);
      }
    }
  }

  .comments {
    @include column-flexbox(start, start, 1.6rem);

    position: relative;
    width: 50%;
    height: 100%;

    &::after {
      @include pos-center-y;

      content: '';

      left: -1.6rem;

      display: block;

      width: 0.1rem;
      height: 100%;

      background-color: $gray70;
    }

    .comment-list {
      overflow-y: auto;
      height: 100%;
      padding-right: 1rem;

      &::-webkit-scrollbar {
        width: 0.6rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray40;
        border-radius: 1rem;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      .comment-item {
        margin-bottom: 1.6rem;
      }
    }
  }

  .button-group {
    @include flexbox(end);

    width: 100%;
    padding-top: 2.4rem;

    button {
      width: 8.8rem;
    }
  }

  @include responsive(M) {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;

    border: 0;
    border-radius: 0;

    .modal-content {
      @include column-flexbox(between, start, 1.6rem);

      flex-grow: 1;
      width: 100%;
      height: calc(100% - 5.2rem);
      padding: 1.6rem;
    }

    .detail-description {
      overflow: visible;
      height: 100%;
    }

    .content-detail-comment {
      @include column-flexbox(start, start, 1.6rem);

      overflow: auto;
      flex-grow: 1;
      flex-shrink: 1;

      width: 100%;
      height: calc(100% - 5.2rem);

      @include no-scrollbar;

      .detail {
        width: 100%;
        height: auto;
      }

      .comments {
        width: 100%;
        height: auto;
      }
    }

    .button-group {
      padding-top: 0;

      button {
        width: 100%;
        height: 4.8rem;
      }
    }
  }
}
