.task-column {
  @include column-flexbox(between);

  overflow: hidden;

  width: 100%;
  height: 100%;

  background-color: $gray80;
  border-radius: 1.2rem;

  transition: height 300ms linear;

  @include responsive(M) {
    height: 47.2rem;
  }

  &.is-close {
    height: 5.6rem;
  }

  &-header {
    @include flexbox(between);

    flex-shrink: 0;

    width: 100%;
    height: 5.6rem;
    padding: 0 1.6rem;

    background-color: $gray80;

    &-content {
      @include flexbox(start, $gap: 0.8rem);

      width: 100%;
      height: 100%;

      .task-column-title {
        @include text-style(16, $gray10);
      }

      .task-column-count {
        @include inline-flexbox;
        @include text-style(12, $gray20);

        width: 2rem;
        height: 2rem;
        background-color: $gray50;
        border-radius: 0.4rem;
      }
    }
  }

  &-options {
    position: relative;
    visibility: visible;
    opacity: 1;

    button {
      transition: $base-transition;

      &.is-active {
        border-color: $primary;
      }
    }

    &.is-empty {
      visibility: hidden;
      opacity: 0;
    }

    .task-options-wrapper {
      position: absolute;
      z-index: $modal-dropdown-level;
      top: 4rem;
      right: 0;

      width: 12rem;

      visibility: hidden;
      opacity: 0;

      transition: opacity 100ms ease-in-out;

      &.is-active {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .task-card-list {
    @include column-flexbox(start, start, 1.6rem);

    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
    padding: 0 1.6rem 1.6rem;

    @include no-scrollbar;

    @include responsive(M) {
      max-height: 36rem;
    }
  }

  .task-card-item {
    width: 100%;
  }

  &-footer {
    flex-shrink: 0;
    width: 100%;

    button {
      @include flexbox;
      @include text-style(16, $primary);

      width: 100%;
      height: 5.6rem;
      border-top: 0.1rem solid $gray60;
    }
  }
}
