%options-base {
  width: 100%;
}

.option-list {
  height: auto;
  padding: 0.6rem;

  background-color: $gray70;
  border: 0.1rem solid $gray50;
  border-radius: 0.6rem;
  box-shadow: $dropdown-shadow;
}

.option-item {
  button {
    @include inline-flexbox(start);
    @include text-style(14, $gray10);

    width: 100%;
    height: 3.2rem;
    padding: 0 0.8rem;
    border-radius: 0.4rem;
  }

  &:hover {
    button {
      background-color: $gray50;
    }
  }
}
