%avatar-base {
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 50%;

  img {
    @include image-fit;
  }
}

.avatar-56 {
  @extend %avatar-base;

  width: 5.6rem;
  height: 5.6rem;
}

.avatar-36 {
  @extend %avatar-base;

  width: 3.6rem;
  height: 3.6rem;
}

.avatar-24 {
  @extend %avatar-base;

  width: 2.4rem;
  height: 2.4rem;
}
