.date-field {
  @include column-flexbox(start, start, 0.8rem);

  width: 100%;

  .label {
    @include text-style(16, $gray20);
  }

  input[type='date']::-webkit-datetime-edit-year-field,
  input[type='date']::-webkit-datetime-edit-month-field,
  input[type='date']::-webkit-datetime-edit-day-field,
  input[type='date']::-webkit-datetime-edit-text {
    display: none;
    appearance: none;
  }

  input[type='date'] {
    @include text-style(14, $gray10);
    @include flexbox(start);

    position: relative;

    width: 100%;
    height: 3.6rem;
    padding: 0.6rem 1.6rem;

    background: url('../../assets/svg/ic-calendar-default.svg') no-repeat right 0.8rem center;
    background-color: $gray70;
    border: 0.1rem solid $gray60;
    border-radius: 0.6rem;

    transition: $base-transition;

    &.is-active {
      border-color: $primary;
    }

    &.is-error {
      border-color: $red;
    }
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    color: transparent;

    background: transparent;
  }

  input[type='date']::before {
    content: attr(placeholder);

    display: block;

    width: 100%;
    height: 100%;

    color: $gray40;
  }

  input[type='date']:valid::before {
    display: none;
  }

  input[type='date']:valid::-webkit-datetime-edit-year-field,
  input[type='date']:valid::-webkit-datetime-edit-month-field,
  input[type='date']:valid::-webkit-datetime-edit-day-field,
  input[type='date']:valid::-webkit-datetime-edit-text {
    display: inline;
    appearance: auto;
  }
}
