%icon-button-base {
  @include inline-flexbox;

  border-radius: 0.6rem;
  transition: $base-transition;
}

.icon-btn-ghost {
  @extend %icon-button-base;

  &:hover {
    background-color: $opacity-white-5;
  }
}

.icon-btn-outline {
  @extend %icon-button-base;

  border: 0.1rem solid $gray50;

  &:not(.is-active):hover {
    border-color: $gray30;
  }
}

.icon-btn-36 {
  width: 3.6rem;
  height: 3.6rem;
}

.icon-btn-32 {
  width: 3.2rem;
  height: 3.2rem;
}

.icon-btn-24 {
  width: 2.4rem;
  height: 2.4rem;

  img {
    width: 2rem;
    height: 2rem;
  }
}
