.input-group {
  @include column-flexbox(start, start, 0.8rem);

  width: 100%;

  .label {
    @include text-style(16, $gray20);
  }

  .input {
    @include text-style(14, $gray10);

    width: 100%;
    height: 3.6rem;
    padding: 0 1.6rem;

    background-color: $gray70;
    border: 0.1rem solid $gray60;
    border-radius: 0.6rem;

    &::placeholder {
      color: $gray40;
    }
  }
}

.textarea {
  @include text-style(14, $gray10);

  resize: none;

  width: 100%;
  height: 8rem;
  padding: 0.8rem 1.6rem;

  background-color: $gray70;
  border: 0.1rem solid $gray60;
  border-radius: 0.6rem;

  &::placeholder {
    color: $gray40;
  }
}
