%modal-popup-base {
  position: absolute;

  background-color: $gray90;
  border: 0.1rem solid $gray70;
  border-radius: 1.6rem;

  transition: $base-transition;
}

.modal {
  @extend %modal-popup-base;

  @include pos-center;

  z-index: $modal-level;
  transform: translate(-50%, calc(-50% + 3rem));

  overflow: hidden;

  min-width: 32.8rem;

  opacity: 0;
  box-shadow: $modal-shadow;

  transition: transform 0.3s ease-out, opacity 0.3s ease-out;

  &-header {
    @include flexbox(between);

    width: 100%;
    padding: 2rem 2rem 0;

    h2 {
      @include text-style(18, $gray10);
    }
  }

  &-content {
    padding: 2rem;
  }

  &.is-open {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.popup {
  @extend %modal-popup-base;

  z-index: $modal-dropdown-level;
  padding: 2rem;
  box-shadow: $dropdown-shadow;

  &-header {
    @include flexbox(start, $gap: 0.8rem);

    h2 {
      @include text-style(18, $gray10);
    }
  }
}
