.container {
  @include flexbox(start, start);

  overflow: hidden;
}

.board {
  @include column-flexbox(start, start);

  width: calc(100% - 7.2rem);
  height: 100vh;

  &-content {
    @include column-flexbox(start, start);

    width: 100%;
    height: calc(100vh - 6rem);
  }
}
