%gnb-button-base {
  @include inline-flexbox;

  overflow: hidden;

  width: 4.8rem;
  height: 4.8rem;

  background-color: $gray80;
  border-radius: 50%;

  transition: $base-transition;

  &:hover {
    border-radius: 0.6rem;
  }
}

.gnb {
  @include column-flexbox(between);

  width: 7.2rem;
  height: 100vh;
  padding: 2.4rem 0;
  background-color: $black;

  &-add {
    position: relative;
    padding-bottom: 1.6rem;

    button {
      @extend %gnb-button-base;

      &::after {
        content: '';

        position: absolute;
        bottom: 0;

        display: block;

        width: 100%;
        height: 0.1rem;

        background-color: $gray70;
      }
    }
  }

  &-menu-list {
    overflow-y: scroll;
    flex-grow: 1;
    height: calc(100vh - 19.2rem);
    margin-top: 1.6rem;

    @include column-flexbox(start, $gap: 1rem);
    @include no-scrollbar;
  }

  &-menu-item {
    a {
      @extend %gnb-button-base;

      position: relative;

      &::after {
        content: '';

        position: absolute;

        width: 100%;
        height: 100%;

        opacity: 1;
        background-color: $opacity-black-60;

        transition: $base-transition;
      }

      img {
        @include image-fit;

        display: block;
      }
    }

    &:first-child {
      a {
        &::after {
          visibility: hidden;
          opacity: 0;
        }

        img {
          width: auto;
          height: auto;
        }
      }
    }

    &.is-active {
      a {
        border-radius: 0.6rem;

        &::after {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }

  &-logout {
    padding-top: 1.6rem;

    button {
      @extend %gnb-button-base;
    }
  }
}

.gnb-mobile {
  @include flexbox(start);

  flex-shrink: 0;

  width: 100%;
  height: 6.8rem;
  padding-left: 1.6rem;

  border-bottom: 0.1rem solid $gray70;

  .gnb-add {
    padding-bottom: 0;

    button {
      &::after {
        display: none;
      }
    }
  }

  .gnb-menu-wrapper {
    @include flexbox(start, center, 1rem);

    position: relative;
    overflow: auto;
    padding: 0 1.6rem 0 2.4rem;

    @include no-scrollbar;

    &::after {
      content: '';

      position: absolute;
      left: 1.2rem;

      display: block;

      width: 0.1rem;
      height: 3.2rem;

      background-color: $gray70;
    }
  }

  .gnb-menu-list {
    overflow-y: visible;
    flex-direction: row;
    height: 100%;
    margin-top: 0;
  }

  .gnb-logout {
    padding-top: 0;
  }
}
