%gnb-button-base {
  @include inline-flexbox;

  overflow: hidden;

  width: 4.8rem;
  height: 4.8rem;

  background-color: $gray80;
  border-radius: 50%;

  transition: $base-transition;

  &:hover {
    border-radius: 0.6rem;
  }
}

.gnb {
  @include column-flexbox(between);

  width: 7.2rem;
  height: 100vh;
  padding: 2.4rem 0;
  background-color: $black;

  &-add {
    position: relative;
    padding-bottom: 1.6rem;

    button {
      @extend %gnb-button-base;

      &::after {
        content: '';

        position: absolute;
        bottom: 0;

        display: block;

        width: 100%;

        border: 1px solid $gray70;
      }
    }
  }

  &-menu-list {
    @include column-flexbox(start, $gap: 1rem);
    @include no-scrollbar;

    overflow-y: scroll;
    flex-grow: 1;
    height: calc(100vh - 19.2rem);
    margin-top: 1.6rem;
  }

  &-menu-item {
    a {
      @extend %gnb-button-base;

      position: relative;

      &::after {
        content: '';

        position: absolute;

        width: 100%;
        height: 100%;

        opacity: 1;
        background-color: $opacity-black-60;

        transition: $base-transition;
      }

      img {
        @include image-fit;

        display: block;
      }
    }

    &:first-child {
      a {
        &::after {
          visibility: hidden;
          opacity: 0;
        }

        img {
          width: auto;
          height: auto;
        }
      }
    }

    &.is-active {
      a {
        border-radius: 0.6rem;

        &::after {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }

  &-logout {
    padding-top: 1.6rem;

    button {
      @extend %gnb-button-base;
    }
  }
}
