.board {
  &-header {
    @include flexbox(between);

    height: 6rem;
    padding: 0 3.2rem;
    border-bottom: 0.1rem solid $gray70;

    .logo {
      height: 2rem;
    }

    &-nav {
      @include flexbox($gap: 0.8rem);

      .profile {
        @include flexbox($gap: 0.8rem);

        &-image {
          border: 0.2rem solid transparent;
          transition: $base-transition;
        }

        &-info {
          @include flexbox($gap: 0.2rem);

          .username {
            @include text-style(16, $gray10);
          }

          img {
            transition: $base-transition;
          }
        }

        &.is-active {
          .profile-image {
            border: 0.2rem solid $primary;
          }
        }
      }
    }
  }
}
